.body {
	margin: 0;
}
.countWrapper {
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;

	margin: 0;

	background-color: aliceblue;
}

.name {
	color: rgb(93, 93, 93);
	margin: 0;
}

.count {
	margin: 0 0 10px 0;
	font-size: 5rem;
}

.buttonWrapper {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	justify-content: center;
}

.button {
	width: 120px;
	height: 50px;

	font-size: 20px;
	color: aliceblue;

	border-radius: 1rem;
	outline: none;

	transition: all 0.03s linear 0s;
}
.buttonMinus {
	border: 2px solid rgba(184, 2, 2, 0.336);
	background-color: rgba(255, 0, 0, 0.743);
	box-shadow: 0px 3px 1px 0px rgba(255, 0, 0, 0.743);
}

.buttonMinus:active {
	transform: translate(0px, 3px);
	box-shadow: none;
}

.buttonPlus {
	border: 2px solid rgba(45, 117, 73, 0.514);
	background-color: rgb(72, 185, 115);
	box-shadow: 0px 3px 1px 0px rgb(72, 185, 115);
}

.buttonPlus:active {
	transform: translate(0px, 3px);
	box-shadow: none;
}

@media (max-width: 1024px) {
	.count {
		font-size: 6rem;
	}
	.buttonWrapper {
		gap: calc(120px / 4);
	}
	.button {
		font-size: 18px;

		min-width: calc(120px * 0.5);
	}
}

@media (max-width: 480px) {
	.count {
		font-size: 3rem;
	}
	.button {
		font-size: 16px;
		flex-basis: 75%; 
		align-self: flex-start;
	}
	.buttonWrapper {
		gap: calc(120px / 4);
	}
}
